@use '../componentes/tipografia' as *;

.section_404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.error-text-1 {
  font-family: $nosotros-font-1;
  font-size: 2.7rem;
}
.error-text-2 {
  font-family: $manifiesto-font-2;
  font-size: 1rem;
  color:black;
}
