




.prd-links {
    color:slategray;
}

input::placeholder {
    font-size: 1rem; 
}

#nodoSelect {
    width: 174px;
    margin: 1rem 1rem;
}

.masBtn {
    width: 13px;
    height: 13px;
    margin-right: 2px;
    position: center;
}

#carritoNumero {
    position: absolute; 
    color: white;
    left: 55%;
    top: 27%;
    font-size: 10px;   
    background: red;
    border-radius: 20%; 
    padding: 3px;
}

.agregarBtn {
    font-size: 0.8rem;
}